<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SJSU VM {{ sjsu_instance }}</title>
    <style>
        body {
            background: #0055a2;
            color: white;
            font-family: Arial, sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        h1 {
            padding: 32px;
            border: 3px solid #e5a823;
            border-radius: 12px;
        }
    </style>
</head>
<body>
    <h1>Hello World from SJSU-{{ sjsu_instance }}</h1>
</body>
</html>